@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script src="~/Scripts/angular.min.js"></script>

<div class="row" ng-app="PlacesApp">
    <div class="col-xs-12">
        <h2>Places List</h2>
        <div ng-controller="PlacesController">
            <table class="table table-striped table-hover ">
                <tr>
                    <th>
                        Venue Name
                    </th>
                    <th>
                        Available From
                    </th>
                    <th>
                        Available Till
                    </th>
                    <th>
                        PlaceType
                    </th>
                </tr>
                <tr class="" ng-repeat="place in places">
                    <td>
                        {{place.Name}}
                    </td>
                    <td>
                        {{place.AvailableFrom}}
                    </td>
                    <td>
                        {{place.AvailableTill}}
                    </td>
                    <td>
                        {{place.PlaceType}}
                    </td>
                </tr>
            </table>

         
                <a href="@Url.Action("Create","Place")" class="btn btn-success">Create <i class="fa fa-plus"></i></a>
         
        </div>
        
        </div>
    </div>
<script>
    var app = angular.module("PlacesApp", []);
    app.controller("PlacesController", function ($scope, $http) {
        $http.get('@System.Configuration.ConfigurationManager.AppSettings["EventorsWebApiLink"].ToString()' + 'Place').
        success(function (data, status, headers, config) {
            $scope.places = data;
        }).error(function (data, status, headers, config) {
            alert("e");
        });
    });
</script>