@{
    ViewBag.Title = "Tariff Bazaar | User Registration Complete";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
                    
                    <div class="col-sm-12">
                        <div class="jumbotron" style="background-color:#fff">
                    <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Thank you!</strong> for registering with us. We have sent a confirmation email to your account. Please use it for activation of your account.
</div></div>
                      
                </div>
                    </div>
